
* {
    box-sizing: border-box; 
  }
body{
    font-style: none;
}

header {
  background-color: #a9aaff;
  height: 180px;
  
}
.banner {
  

  margin-top: -50px;
  background-position: top center;
  
}

nav {
  background-color: #333;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    margin-left: 0;
  }
  .navleft {
    margin-left: 0;
  }
}
.navleft {
  margin-left: auto;
}

.nav1 {
  overflow: hidden;
  text-decoration: none;
  padding: 25px;
  text-align: center;
  float: left;
  color: white;
  font-size: 20px;
}

.nav1:hover {
  background-color: orange;
}
.nav1:visited {
  background-color: skyblue;
  text-decoration: double;
}

main {
  text-align: center;
}

.span {
  background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
  padding: 10px 55px;
  border-radius: 20px;
  font-weight: bold;
  transition: padding 0s ease-in-out 0s;

}

.span:hover{
  padding: 20px 60px;
  letter-spacing: 15px;
}




iframe {
  height: 70vh;
  width: 100%;
  /* padding: 10%; */
}



h4 {
  font-weight: bold;
  margin: 40px;
}

footer {
  background-color:rgb(247, 245, 245);
  text-align: center;

}
footer img{
    height: 200px;
    width:200px;
    border-radius: 45%;
}
.sc{

  text-decoration: none;
  word-spacing: 4px;
  font-size: 20px;
  padding:8px 15px;
  background-color: rgb(125 125 125 / 25%);
  margin:8px 1px;
  border-radius: 50px; 
  transition: padding 0s ease-in-out 0s;
}
.sc:hover{
  padding: 10px;
  letter-spacing: 8px;
}
i{
    margin:6px;
    
}
.sc:hover{
    color:rgb(33, 87, 188)
}
.myname{
    font-size: 2em;
    font-weight: 900;
    text-emphasis: 4px;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: uppercase;
    margin: 20px 0px 30px 0px;
}
h2{
    font-size: 30px;
    padding-top: 30px;
    text-transform: uppercase;
    
}


.carousel-cell {
  width: 66%;
  
  margin-right: 10px;
  
  border-radius: 5px;
 
}
.carousel-cell video{
    width: 100%;
   
}
h3{
    text-decoration: underline;
}



